<!DOCTYPE html>
<html>
<head>
    <title>LAYOUT FOR WEBSITE</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script>

    </script>
</head>

<body style="display: flex ; flex-direction: column">

<div id="wrapper">

    <div id="header">

    </div>

    <div id="menu">

    </div>

    <div id="container">
        <div id="left-container">

        </div>

        <div id="right-container">

        </div>
    </div>

    <div id="footer"></div>
</div>


<div>
    <a href="errorPage.html">errorPage</a>
</div>
</body>
</html>