<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/bai2.css"/>

</head>
<body>
<div id="wrapper" style="border: solid black; width: 1500px ; height: 900px" >
    <form class="form_register">
        <div class="top_register" style="text-align: center" >
            <div style="text-align: center; width: 100%; background-color: lightgrey;">
                <div style="margin : 0 auto; background-color: lightblue;">
                    Đây là nội dung bên trong div lớn hơn.
                </div>
            </div>
        </div>


        <div class="bottom_register" >
            <div class="content_register">
                <p>Email</p>
                <input type="text"/>
                <p>Họ và tên</p>
                <input type="text"/>
                <p>Mật khẩu</p>
                <input type="password"/>
                <p>Mã xác nhận</p>
                <input type="text"/>

                <!--            <input type="checkbox"/><p>Tôi đồng ý với các điều khoản</p>-->
            </div>
        </div>

    </form>

    <div style="margin : 0 auto; width: 50%">
        <img style="padding : 0 225px;width:300px ;height: 300px ;margin : 0 auto"  src="/image/anh.jpg" alt="picture" usemap="#picture">
        <map name="picture" >
            <area style="background-color: black" shape="rect" coords="29,121,162,248"  alt="bear" href="index.html">
        </map>
    </div>

</div>
</body>
</html>