<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube</title>
    <link rel="stylesheet" type="text/css" href="/static/youtube.css"/>
    <script src="https://kit.fontawesome.com/969477b5b1.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="wrapper">
    <!-- HEADER-->
    <div id="header">
        <div class="header-menu-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo-box">
            <img src="/image/youtube.png" alt="logo" class="logo">
        </div>
        <div class="search-box">
            <div class="input-box">
                <input class="search-input" placeholder="Tìm kiếm"/>
                <i class="fa-solid fa-keyboard keyboard-search"></i>
            </div>
            <div class="button-search-box">
                <button class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="actions-box ">
            <div class="list-action">
                <div class="icon-act-box">
                    <i class="fa-solid fa-video"></i>
                </div>
                <div class="icon-act-box">
                    <i class="fa-solid fa-list"></i>
                </div>
                <div class="icon-act-box">
                    <i class="fa-solid fa-share"></i>
                </div>

                <div class="icon-act-box">
                    <i class="fa-solid fa-bell"></i>
                    <p class="noti-count">2</p>
                </div>

            </div>
            <div class="header-avatar-box">
                <img class="header-avatar" src="/image/header_avatar.png"/>
            </div>
        </div>
    </div>
    <!-- CONTAINER-->
    <div id="container">
        <div id="left-container"></div>
        <div id="right-container"></div>
    </div>

</div>
</body>
</html>